*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    margin-bottom: 25px;
    padding: 10px;

}
.header-home{
    height: 50px;
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;

}
.userinfo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userinfo h3{
    padding-left: 10px;

}
.userinfo img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.logout,.login{
    padding: 10px;
    width: 150px;
    height: 40px;
    font-size: .95rem;
    line-height: 20px;
    border: 2px solid blue;
    border-radius: 15px;
    background:none ;
    font-style: bold;
    font-weight: 700;
    color: blueviolet;
    
    cursor: pointer;
}
.login{
    border: 2px solid skyblue;
    color: skyblue;

}
.login:hover{
    background:skyblue ;
    color: #fff;
}
.logout:hover{
    background:#B60000 ;
    color: #fff;
}

textarea{
    width: 500px;
    height: 150px;
    outline: none;
    resize: none;
    border: 1px solid rgba(173, 173, 173,.3);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3rem;

}
textarea::placeholder{
    font-size: 1.3rem;

}
.post{
    position: relative;
    padding: 15px;
    width: 100px;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: skyblue;
    color: whitesmoke;
    cursor: pointer;
    top: -20px;
}